In [ ]:
import html5lib
import lxml
import pandas as pd

## Lendo o url

In [ ]:
url = 'http://tabela-cursos.herokuapp.com/index.html'
tabela_cursos = pd.read_html(url)
tabela_cursos

In [ ]:
type(tabela_cursos)

## Convertendo para dataframe

In [ ]:
tabela_cursos = tabela_cursos[0]

In [ ]:
type(tabela_cursos)

In [ ]:
tabela_cursos.head()

## Renomeando a coluna para melhor manipulação

In [ ]:
tabela_cursos.rename(columns={"Nome do curso":"Nome_curso"}, inplace = True)
tabela_cursos

## Criando um ID para os cursos

In [ ]:
tabela_cursos['ID'] = tabela_cursos.index + 1
tabela_cursos

## Usando o ID como index

In [ ]:
tabela_cursos.set_index('ID', inplace = True)

In [33]:
tabela_cursos

                             Nome_curso
ID
1                 Lógica de programação
2                         Java para Web
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
20          Orientação objetos com Java

## Salvando o dataframe

In [35]:
tabela_cursos.to_csv("cursos.csv", sep = ";")